<div class="container-map">
  <div class="text-en-tete-map">
  <div class="backgroundbluemap"></div>
    <div class="row" id="itinérairediv">
      <div class="col" >
        <%= link_to "Retour", rooting_path(), class: "text-historique-map" %>
      </div>
      <div class="col">
        <h2 class="title-historique-map">Itinéraire</h2>
      </div>
    </div>
  </div>
    <div
      class ="mapdesign"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-latitude-value="<%= @contact.latitude%>"
      data-map-longitude-value="<%= @contact.longitude%>"
      data-map-hospital-latitude-value="<%= @contact.department.hospital.latitude%>"
      data-map-hospital-longitude-value="<%= @contact.department.hospital.longitude%>">
      <div data-map-target="box" style="width: 100%; height: 400px;"></div>

  <div class="background-white-map">
    <div class ="row" id="rowmap">
      <p class="text-map"> L'astreinte est en route ! </p>

      <div class="col-2">
        <% if current_user.bookings.find_by(date: Date.today).on_call %>
        <img src="<%= image_path('medecin-homme.png') %>" style="width: 37px;" class="picture-circle-map-avatar" />
          <% else %>
        <img src="<%= image_path('medecin-homme.png') %>" style="width: 37px" class="picture-circle-map-avatar"/>
        <% end %>
      </div>

      <div class="col-4">
        <p class="nomprenommap"> <%= @contact.first_name %> <%= @contact.last_name %></p>
        <p class ="servicemap" > Service d'obstétrique</p>
      </div>

      <div class="col-2">
        <p class= "minuteur"> <i class="fa-regular fa-clock"></i></p>
      </div>

      <div class="col-4">
        <p class="timemap"> Temps estimé : </p>
        <p class="min"><span class="duration" data-map-target="duration"> </span> mins</p>
      </div>

    </div>
  </div>
</div>
</div>
