<% if booking.user == current_user %>
  <% if booking.on_call == true %>
    <div class=" list-date astreinte" id="bg-user">
      <h6><%= booking.user.first_name %></h6>
      <h6><%= booking.user.last_name %></h6>
      <p id="astreinte">Astreinte</p>
      <% if current_user.admin %>
        <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Supprimer l'astreinte?"} %>
      <% end %>
    </div>
  <% else %>
    <div class="list-date garde" id="bg-user">
      <h6><%= booking.user.first_name %></h6>
      <h6><%= booking.user.last_name %></h6>
      <p id="garde">Garde</p>
      <% if current_user.admin %>
        <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Supprimer l'astreinte?"} %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if booking.on_call == true %>
    <div class=" list-date astreinte">
      <h6><%= booking.user.first_name %></h6>
      <h6><%= booking.user.last_name %></h6>
      <p id="astreinte">Astreinte</p>
      <% if current_user.admin %>
        <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Supprimer l'astreinte?"} %>
      <% end %>
    </div>
  <% else %>
    <div class="list-date garde">
      <h6><%= booking.user.first_name %></h6>
      <h6><%= booking.user.last_name %></h6>
      <p id="garde">Garde</p>
      <% if current_user.admin %>
        <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Supprimer l'astreinte?"} %>
      <% end %>
    </div>
  <% end %>
<% end %>
