<h1 id="TitreCalendrier">Calendrier</h1>

<% if @booking.on_call %>
  <%= link_to "Retour au profil", on_call_path() %>
<% elsif @booking.on_call == false %>
<%= link_to "Retour au profil", on_duty_path() %>
    <% else %>
<%= link_to "Retour au profil", default_path() %>
    <% end %>

<div class="calendar">
<%= calendar(number_of_days: 5) do |date| %>
  <%= date %>
<% end %>
</div>
