<div class="container-wrapper">
  <h1>Bonjour Marie</h1>
  <div class="text-content">
    <div class="text-content-infos">
      <h6>Situation actuelle: <i>en astreinte<i></h6>
      <h6>Prochaine astreinte:  <%= @on_call.date.to_date %></h6>
      <h6>Prochaine garde:  <%= @on_duty.date.to_date %></h6>
    </div>
  </div>
  <div class="grid-wrapper">
    <div class="wrapper left-wrapper">
      <%= link_to "", contact_path(), class: "circle-wrapper" %>
      <div>
      <%= link_to "Personne de garde", contact_path() %>
      </div>
    </div>
    <div class="wrapper right-wrapper">

      <%= link_to "", bookings_path(), class: "circle-wrapper" %>

      <div>
        <h6>Mon</h6><h6>Planning</h6>
      </div>
  </div>

  </div>
    <div class="content-btn">
      <%= link_to "Contacter la personne de garde", contact_path, class: "big-btn-message" %>
      <a class="big-btn-alarm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Confirmer le<br>début de l'astreinte</a>
      <%# <a href=""  class="big-btn-alarm" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmer le<br>début de l'astreinte</a> %>
    </div>
 </div>





<%= link_to "Profile", rooting_path() %>
<!-- Button trigger modal -->


<!-- Modal -->



<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" class="rounded-top">
  <div class="offcanvas-header" class="modal-pink">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
    <a href=""  class="big-btn-alarm" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmer le<br>début de l'astreinte</a>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    ...
  </div>
</div>
