    <nav class="navbar navbar-dark bg-dark ">
      <div class="maboite">
        <div class ="toggle-button">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                <img href="<%= root_path %>" src="<%=image_path("logo.png")%>" class="logonavbar" style="width: 140px;"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                <ul class="monul">
                  <ol class="list">  <%= link_to "L'astreinte du jour", contact_path(current_user), class: "nav-link"%></ol>
                  <ol class="list"> <%= link_to "Mon planning", bookings_index_path(current_user), class: "nav-link"%></ol>
                  <ol class="list">  <%= link_to "Historique des conversations", chatrooms_path, class: "nav-link"%> </ol>
                  <ol class="list"> <%= link_to "Mon profil", rooting_path, class: "nav-link"%></ol>
                  <ol class="list"> <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %> </ol>
                  <ol class="listurgence">Une urgence ?</ol>
                </ul>
              </div>
                <a href="<%= contact_path %>" class="big-btn-alarm">Contacter l'astreinte</a>
            </div>
          </div>
          </div>
          <div >
              <a href="<%= root_path %>">
              <img src="<%=image_path("logo.png")%>" class="logo" style="width: 140px;">
          </div>
          <div class="maboiteavatar">

              <% if user_signed_in? %>
                  <% if "#{controller.controller_name}##{controller.action_name}" == "chatrooms#show" %>
                      <div class="bell-container">
                          <i class="fa-regular fa-bell"></i>
                          <div class="notifications d-none" data-chatroom-subscription-target="notif"></div>
                      </div>
                  <% else %>
                      <div class="bell-container">
                            <i class="fa-regular fa-bell"></i>
                            <div class="notifications <%= current_user&.notifs? ? "" : "d-none" %>" data-chatroom-subscription-target="notif"></div>
                      </div>
                    <% end %>
                <% if current_user.bookings.find_by(date: Date.today).on_call %>
                  <%= link_to rooting_path, class: "icon-navbar-connexion" do %>
                    <img src="<%= image_path('medecin-homme.png') %>" style="width: 40px;" class="avatar-navbar-men" />
                  <% end %>
                <% else %>
                  <%= link_to rooting_path, class: "icon-navbar-connexion" do %>
                    <img src="<%= image_path('femme-medecin.jpg') %>" style="width: 40px;" class="avatar-navbar-men" />
                  <% end %>

                <% end %>
              <% else  %>
                  <%= link_to rooting_path, class: "icon-navbar-connexion" do %>
                    <%= image_tag "icon-user-homepage.png" %>
                  <% end %>
                <% end %>
              </a>
            </div>
      </div>
    </nav>
