
    <nav class="navbar navbar-dark bg-dark ">
      <div class="maboite">
        <div class ="toggle-button">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                <img href="<%= root_path %>" src="<%=image_path("logo.png")%>" class="logonavbar" style="width: 150px;"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                <ul class="monul">
                  <ol class="list">  <%= link_to "L'astreinte du jour", contact_path(current_user), class: "nav-link"%></ol>
                  <ol class="list"> <%= link_to "Mon planning", bookings_index_path(current_user), class: "nav-link"%></ol>
                  <ol class="list">  <%= link_to "Historique des conversations", chatrooms_path, class: "nav-link"%> </ol>
                  <ol class="list"> <%= link_to "Mon profil", rooting_path, class: "nav-link"%></ol>
                  <ol class="list"> <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %> </ol>
                  <ol class="listurgence">Une urgence ?</ol>
                </ul>
              </div>
                <a href="<%= contact_path %>" class="big-btn-alarm">Contacter l'astreinte</a>
            </div>
          </div>
          </div>
          <div >
              <a href="<%= root_path %>">
              <img src="<%=image_path("logo.png")%>" class="logo" style="width: 150px;">
          </div>
            <div class="maboiteavatar">
            <i class="fa-regular fa-bell"></i>
            <a href="<%= rooting_path %>">
            <img src="<%= image_path("avatar1.png") %>" style="width: 40px;" class="avatar bg-info rounded-circle" /></a>
          </div>
      </div>
    </nav>
