<div class="btn-pink">
  <%= link_to "Button 1" %>
</div>
<br>
<div class="btn-ight-blue">
  <%= link_to "Button 2" %>
</div>
<br>
<div class="btn-dark-blue">
  <%= link_to "Button 3" %>
</div>
<br>

<div class="btn-alarm">
  <%= link_to "Button alarm" %>
</div>
<br>
<div class="btn-message">
  <%= link_to "Button message" %>
</div>
<br>

<h1 class="h1">Texte h1</h1>
<h2 class="h2">Texte h2</h2>
<h3 class="h3">Text h3</h3>
<h4 class="h4">Text h4</h4>
<p class="p-grey">Find me in app/views/pages/home.html.erb</p>
<p class="p-dark-blue">Find me in app/views/pages/home.html.erb</p>

<%= link_to "profile", rooting_path%>
