<div class="container-show">
  <div class="container-header-picture">
    <div class="text-show-profil">
      <div class="row">
        <div class="col">
          <%= link_to "Retour", rooting_path(), class: "text-historique" %>
        </div>
        <div class="col">
          <h2 class="title-historique"><%= @title %></h2>
        </div>
        <div class="col">
          <h4 class="text-historique"></h4>
        </div>
      </div>
    </div>


    <img src="<%=image_path("avatar1.png")%>" class="picture-circle" style="width: 150px;">
  </div>
  <div class="container-footer-text-btn">
    <div class="infos-contact-content">
      <h4>Dr. <%= @contact.first_name %> <%= @contact.last_name %></h4>
      <h5>Service d'obstétrique</h5>
      <h6><%= @contact.email %></h6>
      <h6><%= @contact.phone_number %></h6>
    </div>
    <div class="content-btn">
      <% if @contact.uncalled? %>
        <a href="" class="big-btn-alarm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">URGENCES</a>
      <% else @contact.called? %>
        <a class="big-btn-green cursor" data-bs-target="#offcanvasBottom"
        data-bs-toggle="offcanvas"
        aria-controls="offcanvasBottom" ><h6>Rappel?</h6></a>
      <% end %>
      <%= link_to chatroom_path(@chatroom), class: "big-btn-message" do %>
        <h6 class="text-message-contact">Messages</h6>
      <% end %>
    </div>
  </div>
</div>

  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" class="rounded-top">
    <div class="modal-pink">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Besoin d'appeler la<br> <%= @title %>?</h5>
        <p class="p-modal">Contactez le Dr. <%= @contact.last_name %></p>



          <a href="tel:0645313015"
          <%= button_to "Appel d'Urgence", deplacement_update_path(@contact.id, deplacement: 1), method: :patch, class:"big-btn-alarm", data: {
                action: "click->activation#validation", bs_toggle: "modal", bs_target: "#exampleModal", bs_dismiss: "offcanvas"}, aria_label:"Close" %>
                </a>
      <button type="button"  data-bs-dismiss="offcanvas" aria-label="Close" class="btn-retour-modal">Retour</button>
      </div>
    </div>
  </div>
</div>
