<!DOCTYPE html>
<html>
  <head>
    <title>Astreinte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon-48px.png') %>
  </head>

  <% if current_user&.department&.chatrooms&.find_by(date: Date.today) %>
    <body data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= current_user.department.chatrooms.find_by(date: Date.today).id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <% else %>
    <body>
  <% end %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
      <%= yield %>
    <%= javascript_include_tag 'calendar' %>
    <%= render "shared/footer" %>
  </body>

</html>
